<ul class="category-nav">
  <li class="home {% if page == 'featured' %}active{% endif %}"><a href="/lite/">{{ _('Home', 'categoryHome') }}</a></li>
  <li class="games {% if page == 'games' %}active{% endif %}"><a href="/lite/category/games/" data-category="games">{{ _('Games', 'categoryGames') }}</a></li>
  <li class="tools {% if page == 'tools' %}active{% endif %}"><a href="/lite/category/tools/" data-category="tools">{{ _('Tools', 'categoryTools') }}</a></li>
  <li class="lifestyle {% if page == 'lifestyle' %}active{% endif %}"><a href="/lite/category/lifestyle/" data-category="lifestyle">{{ _('Lifestyle', 'categoryLifestyle') }}</a></li>
</ul>
