<ul class="category-nav">
  <li class="home {% if page == 'featured' %}active{% endif %}"><a href="/lite/"><b>{{ _('Home', 'categoryHome') }}</b></a></li>
  <li class="games {% if page == 'games' %}active{% endif %}"><a href="/lite/category/games/" data-category="games"><b>{{ _('Games', 'categoryGames') }}</b></a></li>
  <li class="tools {% if page == 'tools' %}active{% endif %}"><a href="/lite/category/tools/" data-category="tools"><b>{{ _('Tools', 'categoryTools') }}</b></a></li>
  <li class="lifestyle {% if page == 'lifestyle' %}active{% endif %}"><a href="/lite/category/lifestyle/" data-category="lifestyle"><b>{{ _('Lifestyle', 'categoryLifestyle') }}</b></a></li>
</ul>
