*.appcache
*.min.*
*.pyc
*.sw*
.DS_Store
appcache_media.json
deploy.log
node_modules/
npm-debug.log
settings_*.js
src/lite/db/**/*.json
src/lite/downloads/**/*.gif
src/lite/downloads/**/*.jp*
src/lite/downloads/**/*.png
src/lite/index.html
src/prod.html
templates.js
