<section>
  <header></header>
  <div class="app detail-tile">
      <div style="background-image:url({{ doc.icon }})" class="icon"></div>
      <div class="details">
        <div class="trunc name">{{ doc.name|translate(doc) }}</div>
        <div class="trunc dev">{{ doc.author }}</div>
        {% set content_rating = doc.content_ratings %}
        {% if content_rating.rating %}
          <div class="content-rating">{{ iarc_names.ratings[content_rating.rating] }}</div>
        {% endif %}
        {% set stars = doc.ratings.average|floor %}
        <div class="stars">{% for x in range(stars) %}&#9733;{% endfor %}{% if doc.ratings.average - stars >= 0.5 %}<span class="half">&#9733;</span>{% endif %}<span class="empty">{% for x in range(5 - stars) %}&#9733;{% endfor %}</span></div>
        {% set installed = docs[doc._id].installed %}
        <button  data-id="{{ doc._id }}" class="install{{ ' open' if installed }}">{{
          _('Open', 'open') if installed else _('Install', 'install') }}</button>
      </div>
      {% if doc.previews.length > 0 %}
        <div class="thumbnail">
            <button data-action="prev">&#10216;</button>
            <img data-screenshot="{{ preview.image_url }}" src="{{ doc.previews[0].thumbnail_url }}">
            <button data-action="next">&#10217;</button>
            <!--
              FIXME:
               - display screenshot when clicked

            -->
        </div>
        <div class="thumbnail-switcher">
          {% for preview in doc.previews %}
            <a {% if loop.index0 == 0 %}class="active"{% endif %} data-index={{ loop.index0 }} data-thumbnail="{{ preview.thumbnail_url }}" data-screenshot="{{ preview.image_url }}" href="#thumb">&#9899;</a>
          {% endfor %}
        </div>
      {% endif %}
      <div class="description">
        <h3>{{ _('Description', 'description') }}</h3>
        {{ doc.description|translate(doc)|summarise }}
      </div>
    </div>
    <div class="actions">
      {% if doc.support_email %}
        <a class="button" href="mailto:{{ doc.support_email|translate(doc) }}">{{ _('Support Email', 'supportEmail') }}</a>
      {% endif %}
      {% if doc.support_url %}
        <a class="button" href="{{ doc.support_url|translate(doc) }}" rel="external">{{ _('Support Site', 'supportSite') }}</a>
      {% endif %}
      {% if doc.homepage %}
        <a class="button" href="{{ doc.homepage|translate(doc) }}" rel="external">{{ _('Homepage', 'homepage') }}</a>
      {% endif %}
      <!-- FIXME: implement privacy policy, report abuse -->
      <a class="button" href="{{ doc.privacy_policy }}">{{ _('Privacy Policy', 'privacyPolicy') }}</a>
      <a class="button" href="">{{ _('Report Abuse', 'reportAbuse') }}</a>
    </div>
    {% if content_rating.rating %}
      <div class="content-ratings-detail app">
        <h3>{{ _('Rating', 'content-rating') }}</h3>
        <div class="content-ratings-box">
          {% if content_rating.descriptors or content_rating.interactives %}
            <ul class="descriptors">
              {% for descriptor in content_rating.descriptors %}
                <li>{{ iarc_names.descriptors[descriptor] }}</li>
              {% endfor %}
              {% for interactive in content_rating.interactives %}
                <li>{{ iarc_names.interactives[interactive] }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="age-desc">{{ iarc_names.rating[content_rating.rating] }}</p>
          {% endif %}
          <p class="age-rating">{{ content_rating.rating }}<span>+</span></p>
        </div>
      </div>
    {% endif %}
</section>
