/* TODO: Lazy-load web fonts (bug 993716) */

@font-face {
  src: local('FiraSansOTLight'),
       local('FiraSansLight'),
       url('../fonts/FiraSans/firasansot-light-webfont.woff') format('woff'),
       url('../fonts/FiraSans/firasansot-light-webfont.ttf') format('truetype'),
       url('../fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
  font-family: FiraSansWeb;
  font-weight: 300;
}

@font-face {
  src: local('FiraSansOT'),
       local('FiraSans'),
       url('../fonts/FiraSans/firasansot-regular-webfont.woff') format('woff'),
       url('../fonts/FiraSans/firasansot-regular-webfont.ttf') format('truetype'),
       url('../fonts/FiraSans/firasansot-regular-webfont.svg#fira_sans_otregular') format('svg');
  font-family: FiraSansWeb;
  font-weight: 400;
}

@font-face {
  src: local('FiraSansOTMedium'),
       local('FiraSansMedium'),
       url('../fonts/FiraSans/firasansot-medium-webfont.woff') format('woff'),
       url('../fonts/FiraSans/firasansot-medium-webfont.ttf') format('truetype'),
       url('../fonts/FiraSans/firasansot-medium-webfont.svg#fira_sans_otregular') format('svg');
  font-family: FiraSansWeb;
  font-weight: 500;
}

@font-face {
  /* Yes, the PostScript name contains a hyphen. Not a typo. */
  src: local('FiraSansOT-Bold'),
       local('FiraSans-Bold'),
       url('../fonts/FiraSans/firasansot-bold-webfont.woff') format('woff'),
       url('../fonts/FiraSans/firasansot-bold-webfont.ttf') format('truetype'),
       url('../fonts/FiraSans/firasansot-bold-webfont.svg#fira_sans_otbold') format('svg');
  font-family: FiraSansWeb;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #F1F1F1;
  min-height: 100%;
}

body {
  font-family: "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
  min-width: 280px;
}

a {
  color: #369;
  text-decoration: none;
}

a:not([href]):hover,
a:hover {
  color: #036;
  cursor: pointer;
}

.button,
button,
.actions a {
  background-color: #4CB1FF;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px #3D8ECC;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  padding: 3px 6px;
  text-align: center;
  transition: .2s all ease-in;
}

.button:focus,
.button:active,
button:focus,
button:active,
.actions a:active,
.actions a:focus {
  background: #3D8ECC;
}
.button:disabled,
button:disabled {
  background: #ccc;
  box-shadow: 0 1px #ccc;
}

.actions {
  margin: 20px 0;
}

.button.big, button.big, .actions a {
  display: block;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 15px;
  padding: 3px 0 0;
}

.hidden {
  display: none;
}

.header {
  flex: 1 0 62px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 42;
}

main header {
  display: flex;
  justify-content: space-between;
}

main {
  flex: auto;
  height: 100%;
}

form {
  align-items: flex-start;
  background: #fff;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #e6e6e6;
  display: flex;
  padding: 10px 15px;
}

input, button {
  font-family: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  /* Remove ⊗ so we can do our own in CSS below,
     because Chrome's ⊗ causes unusual padding and Firefox's
     implementation of input[type=search] doesn't even have a ⊗. */
  -webkit-appearance: none;
}

input {
  /* Do not remove the "media/img" part. This is needed for cachebusting. */
  background: #f4f4f4 url(../../media/img/search.png) 10px 10px no-repeat;
  background-size: 16px;
  border: 2px solid #c7c7c7;
  border-radius: 10px;
  color: #333;
  flex: 1;
  font-size: 20px;
  height: 40px;
  padding: 3px 10px 3px 32px;
  position: relative;
  transition: background .3s ease-in-out, padding .3s ease-in-out, border .3s ease-in, box-shadow .3s ease-in;
  width: 100%;
  z-index: 2;
}

input:required, input:invalid {
  /* Disable the `box-shadow` Firefox adds when blurring the [required]
     search box if it's empty. */
  box-shadow: none;
}

input:focus {
  background-position: -18px 10px;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70,161,231,.3), 0 1px 2px rgba(0,0,0,.2) inset;
  padding-left: 10px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #bbb;
}
:-moz-placeholder {
  color: #bbb;
  text-overflow: ellipsis;
}
::-moz-placeholder {
  color: #888;
  text-overflow: ellipsis;
}
[placeholder] {
  text-overflow: ellipsis;
}

[placeholder]:-moz-placeholder:focus {
  color: transparent !important;
}
[placeholder]:focus::-moz-placeholder {
  color: transparent !important;
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important;
}

.search-clear::before {
  color: #ccc;
  content: "\02297";
  display: block;
  font-size: 30px;
  height: 41px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 10px 25px 10px 20px;
  z-index: 2;
}

input:focus ~ .search-clear::before,
.search-clear:hover::before {
  color: #999;
}

input:focus ~ .search-clear:hover::before {
  color: #666;
}

input:invalid ~ .search-clear {
  /* Hide the ⊗ icon when the search field is empty. */
  opacity: 0;
  visibility: hidden;
}

input:valid {
  /* Pad for the ⊗ icon. */
  padding-right: 33px;
}

input:valid ~ .search-clear {
  /* Show the ⊗ icon when there is something in the search field.
     Remember, :empty applies to text content, not attributes ;) */
  opacity: 1;
  visibility: visible;
}

.logo {
  /* Do not remove the "media/img" part. This is needed for cachebusting. */
  background: url(../../media/img/logo.png) 0 50% no-repeat;
  background-size: 30px;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 40px;
  text-indent: -9999px;
  width: 40px;
}

main h1 {
  color: #666;
  font-weight: 400;
  font-size: 22px;
}

h3 {
  font-size: 14px;
  color: #666;
}

section {
  margin: 10px;
}

body > nav {
  background: #E0E0E0;
  margin-top: 60px;
}

.category-nav {
  align-content: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.category-nav li {
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 27px 27px;
  /*width: 23%;*/
}

.category-nav li.home {
  background-image: url(../../media/img/category/home.svg);
}

.category-nav li.home.active {
  background-image: url(../../media/img/category/home-active.svg);
}

.category-nav li.games {
  background-image: url(../../media/img/category/games.svg);
  background-position: center 12px;
  background-size: 33px 24px;
}

.category-nav li.games.active {
  background-image: url(../../media/img/category/games-active.svg);
}

.category-nav li.lifestyle {
  background-image: url(../../media/img/category/lifestyle.svg);
  background-position: center 13px;
  background-size: 32px 23px;
}

.category-nav li.lifestyle.active {
  background-image: url(../../media/img/category/lifestyle-active.svg);
}

.category-nav li.tools {
  background-image: url(../../media/img/category/tools.svg);
}

.category-nav li.tools.active {
  background-image: url(../../media/img/category/tools-active.svg);
}

.category-nav a {
  border-bottom: 3px solid transparent;
  color: #1A1A1A;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  padding: 40px 0 5px;
}

.category-nav .active a {
  color: #4CB1FF;
}

.category-nav .active a,
.category-nav a:hover {
  border-bottom: 3px solid #4CB1FF;
}

.category main ol,
.featured main ol,
.results main ol {
  list-style: none;
}

.category main li,
.featured main li,
.results main li {
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  min-height: 70px;
  width: 100%;
}

.details {
  min-height: 84px;  /* 10px + 64px + 10px */
  padding: 10px 10px 10px 84px;
  position: relative;
}

.app {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px #C7C7C7;
  display: block;
  padding: 1px 1px 0 1px;
  width: 100%;
}

.homepage .app {
  box-shadow: none;
  border: none;
}

.icon {
  background-repeat: no-repeat;
  background-size: 64px;
  height: 64px;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 64px;
  z-index: 10;
}

.app {
  display: block;
  position: relative;
}

.trunc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  color: #797979;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.detail .name {
  font-size: 20px;
  line-height: 25px;
}

.dev,
.content-rating {
  color: #797979;
  font-size: 12px;
  line-height: 18px;
  width: calc(100% - 90px);
}

.stars {
  color: #4CB1FF;
  font-size: 14px;
  letter-spacing: -1px;
}

.search .stars {
  margin-top: 4px 0 0;
}

.detail .stars {
  position: absolute;
  left: 10px;
  bottom: 0;
}

.detail .details {
  min-height: 104px; /* leave space for absolutely positionned stars */
}

.stars .half {
  display: inline-block;
  margin-right: -5px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 5px;
  z-index: 1;
}

.stars .empty {
  color: #ccc;
}

div.description,
.content-ratings-detail {
  color: #797979;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}

.description .description.truncated {
  padding: 0;
}

div.description h3,
.content-ratings-detail h3 {
  font-weight: 500;
  padding: 3px 0 6px;
}

.content-ratings-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 48px;
}

.descriptors {
  list-style: none;
  order: 1;
}

.age-desc {
  order: 1;
}

.age-rating {
  color: #3D8ECC;
  font-size: 48px;
  order: 2;
  position: relative;
  top: 12px;
}

.age-rating span {
  position: relative;
  top: 6px;
}

.search .description { /* don't display description in search results */
  display: none;
}

.speed {
  color: #ccc;
  display: none;
  font-size: 16px;
  margin-left: 2px;
}

.install {
  bottom: 10px;
  position: absolute;
  right: 10px;
  width: 80px;
}

.detail .install {
  padding-bottom: 8px;
  padding-top: 8px;
}

.open {
  background: #82C80A;
  box-shadow: 0 1px #48BE4E;
}

.open:hover,
.open:focus {
  background: #609900;
}

.queued,
.queued:hover,
.queued:focus {
  background: #F9D04E;
  box-shadow: 0 1px #DDB513;
}

.notice {
  color: #999;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  padding: 15px;
}

.notification {
  background: #333;
  bottom: -62px;
  color: #fff;
  cursor: pointer;
  height: 62px;
  left: 0;
  line-height: 42px;  /* height minus padding */
  margin: 0 auto;
  padding: 10px 15px;
  position: fixed;
  right: 0;
  /* If this duration is increased update the duration in notification.js
     to ensure hiding the notification only happens when transition is
     completed. */
  transition-duration: .3s;
  /* Using `bottom` here rather than `translateY` as the latter causes
     problems on FF b2g (bug 886334). */
  transition-property: bottom;
  width: 100%;
  z-index: 20;
}

.notification.success {
  background: #093;
}

.notification.error {
  background: #900;
}

.notification.show {
  bottom: 0;
  transition-duration: .3s;
  transition-property: bottom;
}

.notification.hidden {
  display: none;
}

.notification b {
  font-weight: 500;
}

.notification-content {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
}

.thumbnail,
.thumbnail-switcher {
  background: #F1F1F1;
  display: none;
  margin: 0 -1px;
  padding: 10px;
}

.thumbnail-switcher {
  padding: 0 10px;
}

.thumbnail-switcher a {
  background: #C9C9C9;
  border-radius: 15px;
  display: inline-block;
  height: 10px;
  margin: 1px;
  width: 10px;
}

.thumbnail-switcher .active,
.thumbnail-switcher :hover,
.thumbnail-switcher :active,
.thumbnail-switcher :focus {
  background-color: #4CB1FF;
}

.detail .thumbnail,
.expanded .thumbnail {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.thumbnail-switcher {
  display: block;
  font-size: 24px;
  text-align: center;
}

.thumbnail-switcher a {
  color: #CBCBCB;
}

.thumbnail button {
  font-size: 22px;
  height: 100px;
  padding: 0 3px;
}

.results .thumbnail button {
  visibility: hidden;
}

.thumbnail img {
  display: block;
  max-width: 150px;
  max-height: 150px;
}

.expanded .thumbnail {
  background: #E0E0E0;
  display: flex;
  justify-content: center;
}

.toggle-view,
.toggle-view:hover,
.toggle-view:focus {
  /* Do not remove the "media/img" part. This is needed for cachebusting. */
  background: url(../../media/img/toggle-view.png) transparent;
  background-position: 0 22px;
  border: none;
  color: #666;
  cursor: pointer;
  position: relative;
  height: 22px;
  top: 3px;
  width: 54px;
}

.toggle-view.expanded {
  background-position: 0 0;
}

.potato-captcha {
  display: none;
}

.feedback textarea {
  display: block;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 15px;
  min-height: 80px;
}

.feedback textarea, .feedback button {
  width: 100%;
}

.feedback-form {
  display: block;
  padding-bottom: 0;
}

/* Targeting an ID but we'll make an exception for this bad bay. */
#lightbox {
  display: none;
  position: absolute; /* In case 'fixed' is broken. */
  position: fixed;
  z-index: 1001; /* One hundred million dollars!!! */
  border: 10px solid #888;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  overflow: hidden;
}

#lightbox.active {
  display: block;
}

#lightbox img {
  position: absolute;
  max-width: 300px;
  max-height: 460px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

body.overflowed main {
  overflow: hidden;
}

@media (min-width: 600px) {
  .notification {
    border-radius: 4px 4px 0 0;
    max-width: 600px;
  }

  .results ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7.5px;  /* Because we're going to space each 15px apart */
  }

  .results li {
    display: flex;  /* So the app tiles stretch vertically */
    flex: 0 1 50%;
    padding: 0 7.5px;
  }
}

@media (min-width: 800px) {
  .results li {
    flex-basis: 33.3333%;
  }
}

@media (min-width: 1000px) {
  .results li {
    flex-basis: 25%;
  }
}

@media (min-width: 1600px) {
  .results li {
    flex-basis: 20%;
  }
}
