* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #ddd;
}

body {
  font-family: "Fira Sans", Helvetica, sans-serif;
}

a {
  color: #369;
  text-decoration: none;
}

a:hover {
  color: #036;
}

.form-search {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

input {
  background: #f4f4f4 url(../img/search.png) 10px 12px no-repeat;
  background-size: 17px;
  border: 2px solid #c7c7c7;
  border-radius: 10px;
  /*box-shadow: 0 0 1px rgba(0,0,0,.2) inset, 0 0 1px #eee;*/
  color: #333;
  display: block;
  font-family: inherit;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 1px 2px;
  position: relative;
  transition: background .3s ease-in-out, padding .3s ease-in-out, border .3s ease-in, box-shadow .3s ease-in;
  z-index: 2;
  padding: 5px 10px 5px 27px;
  width: 100%;
}

input:focus {
  background-position: -18px 12px;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70,161,231,.3), 0 1px 2px rgba(0,0,0,.2) inset;
  padding-left: 10px;
  outline: none;
}

::-webkit-input-placeholder {
  color: $gray;
}
:-moz-placeholder {
  color: $gray;
  text-overflow: ellipsis;
}
::-moz-placeholder {
  color: $gray;
  text-overflow: ellipsis;
}
[placeholder] {
  text-overflow: ellipsis;
}

/*
[placeholder]:-moz-placeholder:focus {
  color: transparent !important;
}
[placeholder]:focus::-moz-placeholder {
  color: transparent !important;
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important;
}
*/

nav {
  background: #1799dd;
  font-weight: 600;
  height: 40px;
  padding: 0;
}

nav, .logo {
  height: 40px;
}

.logo {
  background: url(../img/logo.png) 15px 50% no-repeat;
  background-size: 20px;
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 42px;
  padding-left: 41px;
  text-indent: -9999px;
}

main {
  display: block;
}

h1 {
  color: #74c9ef;
  font-weight: 300;
  margin-bottom: 15px;
}

.results ol {
  list-style: none;
}

.results li {
  /*background:red;*/
  font-size: 14px;
  min-height: 70px;
  line-height: 16px;
  transition: .2s opacity ease-in-out;
  /*width: 20%;*/
  width: 100%;
  /*box-shadow: 0 1px #ccc inset, 0 2px #fff inset;*/
}

.icon-wrap,
.details {
  height: 68px;  /* 10px + 48px + 10px */
  padding: 10px;
}

.icon-wrap {
  background: #e6e6e6;
  float: left;
  height: 68px;
  margin-right: 10px;
  width: 68px;
}

.details {
  border-left: 1px solid #e0e0e0;
  height: 68px;
  margin-left: 68px;
  padding-top: 9px;
}

.app {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 1px;
  margin: 15px;
  /*background-image: linear-gradient(to top, rgba(200,200,200,.25) 0%, rgba(255,255,255,1) 60%);*/
  padding: 1px;
}

.icon {
  background-size: 48px;
  background-repeat: no-repeat;
  height: 100%;
  /*opacity: .6;*/
}

.app {
  display: block;
  position: relative;
}

.results a:hover .icon {
  opacity: 1;
}

.name {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.dev {
  color: #999;
  font-size: 10px;
  line-height: 16px;
}

.stars {
  color: orange;
  font: 10px monospace;
  letter-spacing: 2px;
}

.stars .half {
  display: inline-block;
  margin-right: -5px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 5px;
  z-index: 1;
}

.stars .empty {
  color: #ccc;
}

.results-heading {
  display: none;
}

.speed {
  color: #ccc;
  font-size: 16px;
  margin-left: 2px;
}

.install {
  background: #2ecc40;
  border: 0;
  box-shadow: 0 1px #00953f;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 10px;
  line-height: 30px;
  transition: .2s all ease-in;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: 80px;
}

.install:hover,
.install:focus {
  background: #00953f;
  box-shadow: 0 1px #000;
}

@media (max-width: 900px) {
  /*
  .results li {
    width: 33.333%;
  }
  */
/*  input {
    width: 100%;
  }
*/
}

@media (max-width: 600px) {
/*  input {
    font-size: 30px;
    line-height: 40px;
  }
*/  /*
  .results li {
    width: 50%;
  }
  */
}

@media (max-width: 320px) {
/*  input {
    font-size: 20px;
    line-height: 30px;
  }
*/  /*
  .results li {
    width: 100%;
  }
  */
}

.notice {
  color: #999;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  padding: 15px;
}

.notification {
  background-color: #00953f;
  bottom: -62px;
  color: #fff;
  cursor: pointer;
  height: 62px;
  left: 0;
  line-height: 42px;  /* height minus padding */
  margin: 0 auto;
  padding: 10px 15px;
  position: fixed;
  right: 0;
  /* If this duration is increased update the duration in notification.js
     to ensure hiding the notification only happens when transition is
     completed. */
  transition-duration: .3s;
  /* Using `bottom` here rather than `translateY` as the latter causes
     problems on FF b2g (bug 886334). */
  transition-property: bottom;
  width: 100%;
  z-index: 2;
}

.notification.show {
  bottom: 0;
  transition-duration: .3s;
  transition-property: bottom;
}

.notification.hidden {
  display: none;
}

.notification-content {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
}

@media (min-width: 600px) {
  .notification {
    border-radius: 4px 4px 0 0;
    max-width: 600px;
  }
}
